@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background-color: rgb(163, 147, 129);
}

h1 {
  text-align: center;
  text-shadow: #5c5c5c 1px 1px;
}

header {
  display: flex;
  gap: 5px;
  padding: 1rem;
  border: 2px solid rgb(27, 22, 15);
  background-color: rgb(59, 54, 47);
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 5px;
}
header nav ul li {
  background-coloR: rgb(156, 135, 110);
  padding: 10px;
  border-radius: 15px;
}

header nav ul li:hover {
  background-color: rgb(212, 212, 212);
}

header.logo{
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(90, 90, 90);
  padding: 10px;
  border-radius: 15px;
}

header .logo:hover {
  background-color: rgb(212, 212, 212);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
.contenedor div {
  width: 33%;
  border-radius: 15px;
}
.contenedor div img {
  border-radius: 20px;
}

footer {
  border: 2px solid rgb(0, 0, 0);
  gap: 5px;
  padding: 1rem;
  background-color: rgb(20, 20, 20);
}
footer .footer-section {
  display: flex;
  color: rgb(211, 211, 211);
  flex-direction: column;
  align-items: center;
}
footer .copyright {
  text-align: center;
  color: rgb(211, 211, 211);
}

.productos-uno,
.productos-dos,
.productos-tres,
.productos-cuatro,
.productos-cinco,
.productos-seis,
.productos-siete,
.productos-ocho,
.productos-nueve {
  width: 80%;
  height: 80%;
  margin: 10px;
  border-radius: 15px;
  margin-left: 10%;
}
div.fondo-productos1,.fondo-productos2,.fondo-productos3,.fondo-productos4,.fondo-productos5,.fondo-productos6,.fondo-productos7,.fondo-productos8,.fondo-productos9{
  background-color: rgb(94, 88, 80);
  margin: 1px;

}

.img-uno, .img-dos, .img-tres, .img-cuatro, .img-cinco, .img-seis, .img-siete, .img-ocho, .img-nueve {
  width: 80%;
  height: 80%;
  margin: 10px;
  border-radius: 15px;
  margin-left: 10%;
}

#contactoForm {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 5px;
}

textarea {
  resize: vertical;
}

input[type=submit] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input:invalid,
textarea:invalid,
select:invalid {
  border: 1px solid red;
}

input:invalid + span::before,
textarea:invalid + span::before,
select:invalid + span::before {
  content: "✖ Por favor, completa este campo.";
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

input:valid + span::before,
textarea:valid + span::before,
select:valid + span::before {
  content: "✔ Campo válido.";
  color: green;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

section form {
  color: rgb(0, 0, 0);
  background-color: rgb(90, 90, 90);
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 15px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.carousel-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
}

.carousel-slide {
  min-width: 100vw;
  box-sizing: border-box;
  animation: desplazar 10s infinite linear;
}

img {
  height: 82vh;
  width: auto;
}


@keyframes desplazar {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
.boton-comprar {
  position: relative;
  display: inline-block;
  margin-top: 0px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #221e19;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

  
}
.carrito {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.carrito.visible {
  transform: translateX(0);
}

.carrito h2 {
  margin: 20px;
  text-align: center; 
}

.carrito ul {
  padding: 0 20px;
}

.carrito li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.carrito li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.carrito li div {
  flex-grow: 1;
}

.carrito li button {
  background-color: transparent;
  border: none;
  color: #ff0000;
  cursor: pointer;
  font-size: 14px;
}

.carrito .cerrar-carrito {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ff1100;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.carrito .total-carrito {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.carrito .boton-comprar {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.carrito-icono {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.carrito-icono img {
  width: 30px;
  height: 30px;
  fill: white;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px; 
}



body.modo-oscuro {
  background-color: #494949;
  color: #000000;
}

body.modo-oscuro header {
  background-color: #242424 !important;
}
body.modo-oscuro header nav ul li{
  background-color: #494949 !important;

}
body.modo-oscuro header nav ul li:hover {
  background-color: rgb(107, 107, 107) !important;
}
body.modo-oscuro a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}
body.modo-oscuro .boton-comprar {
  display: inline-block;
  margin-top: 0px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b64c22;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}




@media screen and (max-width: 1240px) {
  .imagen-adn-dos {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .imagen-adn-uno {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  header {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 1rem;
    justify-content: space-between;
    border: 2px solid rgb(0, 0, 0);
  }
}
@media screen and (max-width: 590px) {
  header nav {
    flex-direction: column;
  }
  header nav {
    flex-direction: column;
  }
  header nav ul {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */