
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: rgb(39, 39, 39);
}

#adn {
    background-color: white;
}

h1 {
    text-align: center;
    text-shadow: #5c5c5c 1px 1px;
}

header {
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1rem;
    justify-content: space-between;
    border: 2px solid rgb(0, 0, 0);
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 5px;
}

header nav ul li {
    background-color: rgb(90, 90, 90);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

header .logo {
    background-color: rgb(90, 90, 90);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

a {
    color: rgb(34, 31, 31);
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.contenedor div {
    width: 33%;
    border-radius: 15px;
}

.contenedor div img {
    border-radius: 20px;
}

footer {
    background-color: rgb(20, 20, 20);
    gap: 5px;
    padding: 1rem;
    border: 2px solid rgb(0, 0, 0);
}

footer .footer-section {
    color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .copyright {
    text-align: center;
    color: rgb(211, 211, 211);
}

.productos-uno,
.productos-dos,
.productos-tres,
.productos-cuatro,
.productos-cinco,
.productos-seis,
.productos-siete,
.productos-ocho,
.productos-nueve {
    width: 80%;
    height: 80%;
    margin: 10px;
    border-radius: 15px;
    margin-left: 10%;
}

#contactoForm {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input:invalid,
textarea:invalid,
select:invalid {
    border: 1px solid red;
}

input:invalid+span::before,
textarea:invalid+span::before,
select:invalid+span::before {
    content: "✖ Por favor, completa este campo.";
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

input:valid+span::before,
textarea:valid+span::before,
select:valid+span::before {
    content: "✔ Campo válido.";
    color: green;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

section form {
    color: rgb(0, 0, 0);
    background-color: rgb(90, 90, 90);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.carousel-container {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
}

.carousel-slide {
    min-width: 100vw;
    box-sizing: border-box;
    animation: desplazar 10s infinite linear;
}

img {
    height: 82vh;
    width: auto;
}

@keyframes desplazar {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}
@media screen and (max-width: 1240px) {
    .imagen-adn-dos {
        display: none;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .imagen-adn-uno {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    header {
        background-color: rgb(20, 20, 20);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 1rem;
        justify-content: space-between;
        border: 2px solid rgb(0, 0, 0);
    }

    header nav ul {
        display: flex;
        list-style: none;
        gap: 5px;
    }
}
